.btn-about-sec{
    color: #ffffff;
    background-color: #f1db25;
    border-radius: unset;
    
    }
    .btn-about-sec:hover{
        color: #f1db25;
        background-color: #ffffff;
        transition: all 0.3s;
        border: 1px solid #f1db25;
    }


    .top-nav{
        height: 18px !important;
        padding: 0 2%;
    }
    .nav-color{
        background-color:  #1c1c1c;
    
    }
    .top-nav-divs{
        font-size: 12px;
        color: white;
    }
    /* ,,, */
    .bottom-nav-li:hover{
        background-color: #1c1c1c;
    }
    /* UPPER-NAV-END */
    
    /* Nav Bar Styling */
    
    .bottom-nav {
        background-image: url(../images/hero-bg.jpg);
    }
    
    .bottom-nav * {
        color: white !important;
    }
    
    .navbar-toggler {
        color: grey !important;
    }
    
    .nav-item {
        display: flex;
        justify-content: center;
    }


    /* Button span */

    .about-hd-span{
        border-bottom: 5px solid #f1db25;
        border-radius: 2px;
    }



    #btn-contact-sec{
        width: 200px;
    }
    /* FOOTER */

.spacing-logos-footer{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}


.footer-cont{
    padding-top: 31px !important;
}
.last-line-footer p{
    font-size: 16px;
    margin: 0 !important;
    text-align: center;
    color: rgba(254, 254, 255, 0.7);
    padding-bottom: 8px;
}
@media screen and (max-width: 600px) {
    .top-nav-divs{
        display: none;
    }
    .container-about{
        padding: 0 !important;
    }
    .first-col-about{
        padding: 0 !important;
    }
}

@media screen and (max-width: 993px) {

}
@media screen and  (max-width: 777px) {
    .para-container{
        border: 1px solid white;
        
        height: 100%;
        width: 94%;
        margin-left: 3%;
    }
    .row-about{
        display: flex;
        flex-direction: column-reverse;
        padding: 3% 0;
        margin: 18% 0 !important;
       
    }
    .footer-cont{
           padding: 0 14%;
    }
    .heading-footer{
        margin-bottom: 5px !important;
        text-align: center;
    } 
    .info-guarder{
        text-align: center;
    }
    .useful-footer{
        text-align: center;
    }
    .heading-footer-contact{
        display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-coll{
        margin-bottom: 70px !important;
    }
    .logos-footer{
        display: flex;
        justify-content: center;
        padding: 2px;
    }
    .btn-guards-sec{
        justify-content: center !important;
    }
    .spacing-logos-footer{
        display: flex;
        gap: 30px;
    }
    .location-contact-sec-footer{
        text-align: center !important;
    }
    .slider-vaal{
        text-align: center;
         padding: 29% 24px;;
    }
}

@media screen and  (max-width: 999px) {
    .para-container{
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
} 
